{% extends 'base.html' %}

{% block content %}
<div class="h-full flex flex-col justify-center items-center gap-12">
    <h2 class="text-3xl font-bold text-gray-700 text-center">Sistem Deteksi Safety Helmet Otomatis</h2>

    <section class="max-w-xl p-6 bg-white rounded-md border border-black w-full">
        <form action="/auth" method="post">
            <div>
                <label class="text-gray-700" for="passwordConfirmation">Kata Sandi</label>
                <input id="passwordConfirmation" type="password" name="password"
                       class="block w-full px-4 py-2 mt-2 text-gray-700 bg-gray-200 border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
            </div>
            <div class="flex justify-end mt-6">
                <button type="submit" class="px-8 py-3 font-bold text-white transition-colors duration-300 transform bg-black rounded-md hover:bg-gray-800 w-full">Masuk</button>
            </div>
        </form>
    </section>
</div>
{% endblock %}